#catalog-h3 {
    margin: 30px;
    margin-left: 130px;
}

.menus {
    display: grid;
}

.row {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
}

.icon-product {
    text-align: center;
    font-size: 27px;
    /* width: 317px;
    height: 414px; */
}

.icon-product img {
    width: 317px;
    height: 302px;
}

.describtion {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    font-size: 30px;
    text-align: center;
}

nav {
    margin: 0 auto;
    display: table;
}

.hidden {
    display: none;
}

.pagination-container {
    width: calc(100% - 2rem);
    display: flex;
    align-items: center;
    bottom: 0;
    padding: 1rem 0;
    justify-content: center;
}

.pagination-number,
.pagination-button {
    font-size: 1.1rem;
    background-color: transparent;
    border: none;
    margin: 0.25rem 0.25rem;
    cursor: pointer;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: .2rem;
}

.pagination-number:hover,
.pagination-button:not(.disabled):hover {
    background: #fff;
}

.pagination-number.active {
    color: #fff;
    background: #CE682C;
}

#paginated-list {
    list-style-type: none;
}

@media (max-width:1000px) {
    .icon-product img {
        width: 297px;
        height: 280px;
    }

    .describtion {
        font-size: 25px;
    }
}

@media (max-width:800px) {
    .icon-product img {
        width: 257px;
        height: 240px;
    }

    .describtion {
        font-size: 23px;
    }
}

@media (max-width:600px) {
    .icon-product img {
        width: 227px;
        height: 210px;

    }

    .describtion {
        font-size: 23px;
    }
}

@media (max-width:500px) {
    .icon-product img {
        width: 200px;
        height: 197px;
    }

    .describtion {
        font-size: 18px;
    }
}

@media (max-width:400px) {
    .icon-product img {
        width: 150px;
        height: 137px;
    }

    .describtion {
        font-size: 13px;
    }
}